<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      
    {% set css %}
      {% include "style.css" %}
    {% endset %}

    <style>
      {{ css | cssmin | safe }}
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>

  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      <nav>
        <ul class="nav">
          {%- for nav in collections.nav | reverse -%}
          <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
          {%- endfor -%}
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
        <p>Телефон: {{ renderData.phone or phone or metadata.phone }}</p>
    </footer>

  </body>
</html>
